/* table{
 height: 160px;
 width: 270px;
margin-left: 20%;
} */
.chessboard{
    height: 500px;
 width: 900px;
margin-left: 15%;
border:1 px;
border-radius: 10px;
border-color: blue;
}
h1{
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: red;
}